<div class="sidenav">
        <a class="nav-link" 
        [routerLink]="['/customer-dashboard/custlistofaccs']" 
        routerLinkActive="router-link-active" >List of Accounts
      </a>    
        
        <a class="nav-link" 
        [routerLink]="['/customer-dashboard/custfundtransfer']" 
        routerLinkActive="router-link-active" >Fund Transfer
      </a>  
    
      <a class="nav-link" 
        [routerLink]="['/customer-dashboard/custtranshistory']" 
        routerLinkActive="router-link-active"  >     
        Transaction History   
      </a>     
      <router-outlet></router-outlet>
  </div>
    